aioify==0.4.0
beautifulsoup4==4.10.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cloudscraper==1.2.58
idna==3.3
loguru==0.6.0
module-wrapper==0.3.1
names==0.3.0
pydantic==1.9.0
pyparsing==3.0.7
PySocks==1.7.1
python-dotenv==0.19.2
pyuseragents==1.0.5
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.3.1
stdlib-list==0.8.0
stem==1.8.0
typing-extensions==4.1.1
urllib3==1.26.7
uuid==1.30
